@model List<Hospital>
<h1>Hospitales Ado Net</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Details</th>
            </tr>
        </thead>
    <tbody>
        @foreach (Hospital hospital in Model)
        {
            <tr>
                <td>@hospital.Nombre</td>
                <td>@hospital.Direccion</td>
                <td>@hospital.Telefono</td>
                <td>
                    <a class="btn btn-info" asp-controller="Hospitales" asp-action="Details" asp-route-id="@hospital.IdHospital">Detalles</a>
                    <a class="btn btn-warning" asp-controller="Hospitales" asp-action="Update" asp-route-id="@hospital.IdHospital">Update</a>
                    <a class="btn btn-danger" asp-controller="Hospitales" asp-action="Delete" asp-route-id="@hospital.IdHospital">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
    </table>
@Html.ActionLink("Crear hospital", "Create", "Hospitales")
